/* Universal Rules */

html {
  font-size: 16px;
}

.flex {
  display: flex;
}

h2, h3, h4, p, span, h5 {
  color: #424C55;
}

h2::first-letter {
  color: #86E7B8;
}

h4, p, span, a {
  font-family: 'Merriweather', serif;
}

h2, h3, h5 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4, h5 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

span {
  font-size: 0.8rem;
}

a {
  color: #75CEB6;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Header Rules */

header {
  height: 4rem;
  background-color: #FBF8F9;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  align-items: center;
  padding-left: 0.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 4rem;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #424C55;
  transition: color 0.1s linear;
}

nav a:hover {
  color: #86E7B8;
}

.colmar {
  font-weight: 700;
}

.academy, .colmar {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  color: #424C55;
}

/* Banner Rules */

.banner {
  background-color: #DBDBDB;
}

.learn-image {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.banner-text {
  flex-direction: column;
  justify-content: center;
  width: 35%;
  text-align: center;
  align-items: center;
}

.banner h2 {
  line-height: 3rem;
}

.banner h4 {
  margin: 3rem 0;
  line-height: 1.5rem;
}

.button {
  background-color: #424C55;
  color: #FBF8F9;
  padding: 0.5rem 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  width: 50%;
}

.button:hover {
  background-color: #FBF8F9;
  color: #424C55;
}

/* Practice Section Rules */

.practice {
  background-color: #FBF8F9;
}

.left-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.left-image {
  width: 100%;
}

.left-box h2 {
  padding: 2rem 0 1.5rem 0;
}

.left-box p {
  padding-bottom: 1.5rem;
}

.right-boxes {
  width: 40%;
}

.right-box {
  border: 1px solid #DBDBDB;
  width: 100%;
}

.right-box-image {
  width: 35%;
  padding: 1rem 1rem;
}

.right-box-text {
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.right-box-text p {
  padding: 1rem 0;
}

.orientation {
  border-top: none;
}

.guest {
  background-color: #DBDBDB;
}

/* Courses Section */

.subjects {
  background-color: #DBDBDB;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: center;
}

.courses {
  padding-top: 1rem;
  flex-flow: wrap;
  justify-content: center;
}

.course-box {
  margin: 1rem;
  width: 30%;
  background-color: #FBF8F9;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text h3 {
  padding-bottom: 1rem;
}

.course-text h5 {
  padding: 0.5rem 0;
}

.course-image img {
  height: auto;
}

/* Exhibit Rules */

.exhibit {
  background-color: #FBF8F9;
  flex-direction: column;
  align-items: center;
}

.exhibit-container {
  width: 100%;
  margin-bottom: 2rem;
}

.exhibit h2 {
  padding: 2rem 0;
}

.exhibit-left-box {
  width: 60%;
}

.exhibit-right-boxes {
  width: 40%;
}

.exhibit-right-box {
  width: 100%;
}

.exhibit-right-box-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.fisma {
  background-color: #DBDBDB;
}

.exhibit-right-box-text {
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.exhibit-right-box-text p {
  padding: 1rem 0;
}

.exhibit-left-box {
  margin: 0 1.5rem;
}

/* Footer Rules */

footer {
  background-color: #DBDBDB;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

footer a {
  padding: 0rem 1rem;
}

footer p, footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

/* Media Queries Desktop */

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
